# create .env file and add your own values for the variables
PORT=5000
REDIS_HOST=localhost
REDIS_PORT=6379
GCM_API_KEY=370954410444
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
# this is the email address used when sending push notifications
VAPID_MAIL_TO=test@boilerplate.com
DATABASE_URL=postgresql://postgres:pass123@localhost:5432/postgres
FACEBOOK_OAUTH_SECRET=
FACEBOOK_OAUTH_CLIENT_ID=
FACEBOOK_CALLBACK_URL=http://localhost:5000/api/auth/facebook/callback
GOOGLE_OAUTH_SECRET=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback
FRONTEND_URL=http://localhost:3000
JWT_SECRET=aiuvbeuiabvueawbniouaheiaveavae
CORS_ORIGIN=http://localhost:3000
